<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <ul class="cart__item-list">
      <% products.forEach(p => { %>
          <li class="cart__item">
              <h1><%= p.productId.title %></h1>
              <h2>Quantity: <%= p.quantity %></h2>
          </li>
      <% }) %>
    </ul>
    <div class="centered">
      <h2>Total: <%= totalSum %></h2>
    </div>
    <div class="centered">
      <button id="order-btn" class="btn">ORDER</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        let stripe = Stripe('pk_test_51HoN4eEpEHCO4e6J5NPrZMkErjoho0BpZj2IFlO2c3SeaBgoJchIYWwHo3Pp3K5Xibyw4UebWRPUAU4xZwuD1k4500tn0cx6Zt')
        let orderBtn = document.getElementById('order-btn')
        orderBtn.addEventListener('click', function() {
          stripe.redirectToCheckout({
            sessionId: '<%= sessionId %>'
          })
        })
      </script>
    </div>
  </main>

  <%- include('../includes/end.ejs') %>